# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto ens18
iface ens18 inet static
    address {{ ip }}
    netmask {{ netmask }}
    gateway {{ gateway }}
    dns-nameservers {{ dns_server }}
    dns-search {{ domain }}
